<html>
<head>
<title>Create Restaurant</title>
</head>

<body>
<H1 align="center">
<h1>Create a new Restaurant</h1><br/>
<form action='/createRestaurant', method ="post">
<table border = "1" cellpadding ="5">
<tr>
	<th>Name:</th>
	<td><input type="text" name="name"></td>
</tr>
<tr>
	<th rowspan="3">Address:</td>
	<td>Street: &nbsp;<input type="text" name="street"></td>
</tr>
<tr>
	<td>Zipcode: &nbsp;<input type="text" name="zipcode"></td>
</tr>
<tr>
	<td>Building: &nbsp;<input type="text" name="building"></td>
</tr>

<!--<tr>
	<th rowspan="3">Address:</td>
	<td><input type="text" name="street"></td>
</tr>-->

<tr>
	<th>Borough:</th>
	<td><input type="text" name="borough"></td>
</tr>
<tr>
	<th>Cuisine:</th>
	<td><input type="text" name="cuisine"></td>
</tr>

<tr>
	<td colspan="2" align="center"><input type="reset" value="reset">&nbsp; &nbsp;
	<input type="submit" value="submit"></td>
</tr>

</table>
</form>

<a href="/show">Search Restaurant</a>
<br/></br>
<a href="/">Back</a>
</body>
</html>
